<div class="header-container">
  <h3 class="title">Hood Finder</h3>
  <div class="actions">
    <!-- Search Bar -->
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Search for a neighborhood</mat-label>
        <input
          type="text"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let neighborhood of filteredNeighborhoods | async" [value]="neighborhood">
            {{ neighborhood }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="filter-container">

    <button mat-icon-button [matMenuTriggerFor]="filterMenu">
      <mat-icon>tune</mat-icon>
    </button>

    <mat-menu #filterMenu="matMenu" >
      <button mat-menu-item (click)="applyFilter('age')">Filter by Average Age</button>
      <button mat-menu-item (click)="applyFilter('distance')">Filter by Distance</button>
    </mat-menu>
    </div>
  </div>
</div>
