
<div class="header-container">
<h1>Hood finder</h1>
  <div class="actions">
    <form class="example-form">
      <input
        type="text"
        placeholder="Search for a neighborhood"
        [formControl]="control"
        [matAutocomplete]="auto"
        class="example-input"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let neighborhood of filteredNeighborhoods" [value]="neighborhood">
          {{ neighborhood }}
        </mat-option>
      </mat-autocomplete>
    </form>
    <!-- Filter Icon -->
      <mat-icon>tune</mat-icon>
  </div>
</div>
