:host {
  background: transparent;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: unset !important;
  background-color: #fff;
  border-bottom: 2px solid #e1e1e1;
}

.title {
  color: #ff5722;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 8px;
}

.search-bar {
  flex: 1;
}

button {
  background-color: #ff5722;
  color: white;
  padding: 8px 16px;
}

button:hover {
  background-color: #e64a19;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 50px !important;
}




