<h2 mat-dialog-title>Filters</h2>
<div mat-dialog-content>
  <p>Age Range</p>
  <div class="age-range">
    <mat-form-field appearance="outline">
      <mat-label>Min Age</mat-label>
      <input matInput type="number" [min]="0" [max]="120" [(ngModel)]="filters.minAge" name="minAge"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max Age</mat-label>
      <input matInput type="number" [min]="1" [max]="120" [(ngModel)]="filters.maxAge" name="maxAge"/>
    </mat-form-field>

  </div>

  <p>Max Distance</p>
  <mat-slider min="0" max="100" step="1" discrete
              [displayWith]="formatLabel">

    <input matSliderThumb [value]="filters.maxDistance" (valueChange)="onSliderChange($event)">
  </mat-slider>
</div>
<!-- Sorting Filter -->
<p>Sort By</p>
<mat-select [(ngModel)]="filters.sortField" name="sortField">
  <mat-option value="neighborhood">Neighborhood</mat-option>
  <mat-option value="averageAge">Average Age</mat-option>
  <mat-option value="distanceFromCityCenter">Distance</mat-option>
</mat-select>

<mat-button-toggle-group [(ngModel)]="filters.sortOrder" name="sortOrder">
  <mat-button-toggle value="asc">Ascending</mat-button-toggle>
  <mat-button-toggle value="desc">Descending</mat-button-toggle>
</mat-button-toggle-group>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" style=" background-color: #ff5722;" (click)="applyFilters()">
    Apply
  </button>
</div>
