<app-header (filterEmitter)="onFilter($event)" (onSearchCardSelected)="onSelectedSearchCard($event)" [allNeighborhoods]="neighborhoods" [neighborhoodsNames]="neighborhoodsNamesToSearch" (search)="onSearch($event)"></app-header>
IS LOADING ???? {{ this.isLoadingData }}
<app-neighborhoods [neighborhoods]="searchedCards.length > 0 ? searchedCards: neighborhoods"></app-neighborhoods>

<div class="pagination-container">
  <button (click)="movePage(false)" [disabled]="this.paginationFilters.currentPage <= 1">
    <mat-icon>arrow_left</mat-icon>
  </button>
  {{this.paginationFilters.currentPage}} / {{paginationDATA?.totalPages}}
  <button (click)="movePage(true)" [disabled]="this.paginationFilters.currentPage >= 50" >
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>


