<app-header (filterEmitter)="onFilter($event)" (onSearchCardSelected)="onSelectedSearchCard($event)" [allNeighborhoods]="neighborhoods" [neighborhoodsNames]="neighborhoodsNamesToSearch" (search)="onSearch($event)"></app-header>
IS LOADING ???? {{ this.isLoadingData }}
<app-neighborhoods [neighborhoods]="searchedCards.length > 0 ? searchedCards: neighborhoods"></app-neighborhoods>
<app-footer></app-footer>



Current Page {{this.paginationFilters.currentPage}} / {{paginationDATA?.totalPages}}
<button (click)="movePage(true)">PREVIOUS PAGE BITCH ASS</button>
<button (click)="movePage(false)">NEXT PAGE BITCH ASS</button>
