body {
  background-color: #e1e1e1;
  //background-color: #fdfbfb;

  margin: 0;
  font-family: 'Roboto', sans-serif;}

html {
  height: 100%;
}

body, app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
