body {
  background-color: #f9f9f9; /* Set light background color for the whole app */
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333; /* Neutral text color */
}

html {
  height: 100%;
}

body, app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
